.contenido1{
    position: relative;
    top: 60px;
    border: 5px solid red;
    margin-left:.20px;
}
.contenidoEstudiantes{
    background-color: #030354;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left:.255em
}
.formDataEstudiantes{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    color: blue;
}

.btndj{
    border-radius: 20px !important;
}
