<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <!-- Incluir Bootstrap)-->
  <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{%static 'css/myestilo.css'%}" />
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/AppCoder/Cursos">Cursos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/AppCoder/Estudiantes">Estudiantes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/AppCoder/Profesores">Profesores</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <p>
      {% block contendio1 %}
    <h3>Cursos activos</h3>
    <div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Camada</th>
          </tr>
        </thead>
        <tbody>
          {% for c in cursos %}
          <tr>
          <td>{{c.nombre}}</td>
          <td>{{c.camada}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div>
        <br> <br>
      </div>
     </div>
     <h3>Lista de Profesores Coder</h3>
     <div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Profesor</th>
          </tr>
        </thead>
        <tbody>
          {% for c in profesores %}
          <tr>
          <td>{{c.nombre}}</td>
          <td>{{c.apellido}}</td>
          <td>{{c.email}}</td>
          <td>{{c.profesion}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

     </div>
      {% endblock %}
    </p>
  </main>
  <footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <p class="text-muted small mb-4 mb-lg-0">&copy; Entrega1 - MatiasChavez</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
            </div>
        </div>
    </div>
</footer>
</body>
</html>